#!/bin/bash

# @raycast.schemaVersion 1
# @raycast.title Connect __TITLE__
# @raycast.mode compact
# @raycast.packageName __TITLE__
# @raycast.icon 🔒
# @raycast.description Connect to __TITLE__.

export PATH="__PATH__"
exec __BIN__ -p __PROFILE__ connect
