#!/bin/bash

# @raycast.schemaVersion 1
# @raycast.title Disconnect __TITLE__
# @raycast.mode compact
# @raycast.packageName __TITLE__
# @raycast.icon 🔓
# @raycast.description Disconnect __TITLE__.

export PATH="__PATH__"
exec __BIN__ -p __PROFILE__ disconnect
