#!/bin/bash

# @raycast.schemaVersion 1
# @raycast.title __TITLE__ Status
# @raycast.mode inline
# @raycast.refreshTime 30s
# @raycast.packageName __TITLE__
# @raycast.icon 🛰️
# @raycast.description Show whether __TITLE__ is up.

export PATH="__PATH__"
__BIN__ -p __PROFILE__ status
exit 0
