#!/bin/bash

# @raycast.schemaVersion 1
# @raycast.title Toggle __TITLE__
# @raycast.mode compact
# @raycast.packageName __TITLE__
# @raycast.icon 🔐
# @raycast.description Connect or disconnect __TITLE__.

export PATH="__PATH__"
exec __BIN__ -p __PROFILE__ toggle
